@font-face {
  font-family: Gabarito;
  src: url(../public/Gabarito.ttf);
}

$darkThemeMain1: #282c34;
$darkThemeMain2: #1d1f25;
$darkThemeMain3: #474c57;
$darkThemeText: white;

$lightThemeMain1: rgb(255, 255, 255);
$lightThemeMain2: rgb(231, 231, 231);
$lightThemeMain3: rgb(219, 219, 219);
$lightThemeText: black;

$fontSize: 20px;
$fontSizeSmallText: 15px;
$boldFontWeight: 600;
$paddingSize: 10px;
$paddingSizeSmall: 5px;
$borderRadius: 30px;
$borderRadiusSmall: 15px;
$iconSizeSmall: 25px;
$iconSizeMedium: 40px;
$animationSpeed: .5s;
$leftBarWidth: 200px;
$scrollbarSize: 5px;

@mixin scrollbar($thumbColor, $trackColor: mix($thumbColor, white,  50%)) {
  &::-webkit-scrollbar {
    width:  $scrollbarSize;
    height: $scrollbarSize;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: $thumbColor;
    border-radius: $scrollbarSize;
  }

  &::-webkit-scrollbar-track {
    background: $trackColor;
  }
}

@mixin input($bgColor, $textColor, $bgColorFocus: mix($bgColor, black,  90%)) {
  input {
    background-color: $bgColor;
    color: $textColor;
    border-radius: $borderRadius;
    border: none;
    padding: $paddingSizeSmall;
  }

  input:focus {
    outline: none;
    background-color: $bgColorFocus
  }
}

@mixin selectable($bgColor, $textColor, $bgColorFocus: mix($bgColor, black,  90%)) {
  .selectable {
    background-color: $bgColor;
    color: $textColor;
    border-radius: $borderRadius;
    border: none;
    padding: $paddingSizeSmall;
  }

  .selected {
    outline: none;
    background-color: $bgColorFocus
  }
}

.darkTheme {
  background-color: $darkThemeMain1;
  color: $darkThemeText;

  .bgColor1 {
    background-color: $darkThemeMain1;
  }

  .bgColor2 {
    background-color: $darkThemeMain2;
  }

  .bgColor3 {
    background-color: $darkThemeMain3;
  }

  .smallIcon {
    filter: invert(1);
  }

  .mediumIcon {
    filter: invert(1);
  }

  .scroll {
    @include scrollbar($darkThemeMain2, $darkThemeMain3);
  }

  @include input($darkThemeMain2, $darkThemeText)
}

.lightTheme {
  background-color: $lightThemeMain1;
  color: $lightThemeText;

  .bgColor1 {
    background-color: $lightThemeMain1;
  }

  .bgColor2 {
    background-color: $lightThemeMain2;
  }

  .bgColor3 {
    background-color: $lightThemeMain3;
  }

  .scroll {
    @include scrollbar($lightThemeMain3, $lightThemeMain2);
  }

  @include input($lightThemeMain2, $lightThemeText)
}

@mixin horizontalFlex {
  display: flex;
  align-items: center;
  gap: $paddingSize;
}

body {
  margin: 0;
  font-family: Gabarito;
  font-size: $fontSize;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .smallText {
    font-size: $fontSizeSmallText;
  }

  .topbar {
    padding: $paddingSize;
    display: flex;
    justify-content: space-between;

    .topbarContentWrapper {
      @include horizontalFlex;
    }
  }

  .appContent {
    display: flex;
    height: calc(100vh - 2 * $paddingSize - $iconSizeMedium);
    width: 100vw;

    .leftbar {
      width: $leftBarWidth;
      padding: $paddingSize;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .elemWrapper {
        display: flex;
        flex-direction: column;
        gap: $paddingSize;
      }

      .leftbarElem {
        @include horizontalFlex;
        justify-content: space-between;
        padding: $paddingSize;
        border-radius: $borderRadius;
      }

      .hideButton {
        cursor: pointer;

        img {
          transition: transform $animationSpeed;
        }
      }

      .hideButton:hover {
        img {
          transform: rotate(180deg);
        }
      }

      .optionsButton {
        cursor: pointer;
      }
    }

    .workspaceWrapper {
      width: calc(100% - $leftBarWidth);
      display: flex;
      flex-direction: column;

      .workspacesBar {
        display: flex;
        gap: $paddingSize;
        padding: $paddingSize;
        overflow-x: scroll;
        white-space: nowrap;

        .workspaceCard {
          display: flex;
          gap: $paddingSize;
          border-radius: $borderRadius;
          padding: $paddingSize;
        }
      }

      .workspace {
        margin: $paddingSize;
        padding: $paddingSize;
        border-radius: $borderRadius;
        flex-grow: 1;
        // height: auto;
        display: flex;
        flex-direction: column;
        gap: $paddingSize;

        .generationViewHorizontalFlex {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          height: 100%;
          gap: $paddingSize;

          .generationViewVerticalFlex {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 100%;
            gap: $paddingSize;
          }
        }

        .panel {
          border-radius: $borderRadius;
          padding: $paddingSize;
          display: flex;
          flex-direction: column;

          .panelTitle {
            font-weight: $boldFontWeight;
            align-self: center;
            margin-bottom: $paddingSize;
          }

          .formInput {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: $paddingSizeSmall;

            label {
              font-size: $fontSizeSmallText;
            }
          }

          .deviceCardWrapper {
            display: flex;
            flex-direction: column;
            gap: $paddingSize;

            .deviceCard {
              padding: $paddingSizeSmall;
              border-radius: $borderRadiusSmall;
            }
          }
        }

        .titlePanel {
          border-radius: $borderRadius;
          padding: $paddingSize;
          display: flex;
          font-weight: $boldFontWeight;
          justify-content: center;
        }
      }
    }
  }

  .smallIcon {
    height: $iconSizeSmall;
    width: $iconSizeSmall;
  }

  .mediumIcon {
    height: $iconSizeMedium;
    width: $iconSizeMedium;
  }
}