@font-face {
  font-family: Gabarito;
  src: url(../public/Gabarito.ttf);
}

$darkThemeMain1: #282c34;
$darkThemeMain2: #1d1f25;
$darkThemeMain3: #474c57;
$darkThemeText: white;

$lightThemeMain1: rgb(255, 255, 255);
$lightThemeMain2: rgb(231, 231, 231);
$lightThemeMain3: rgb(219, 219, 219);
$lightThemeText: black;

$fontSize: 20px;
$paddingSize: 10px;
$borderRadius: 30px;
$iconSizeSmall: 25px;
$iconSizeMedium: 40px;
$animationSpeed: .5s;
$leftBarWidth: 200px;
$scrollbarSize: 5px;

@mixin scrollbar($thumbColor, $trackColor: mix($thumbColor, white,  50%)) {
  &::-webkit-scrollbar {
    width:  $scrollbarSize;
    height: $scrollbarSize;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: $thumbColor;
    border-radius: $scrollbarSize;
  }

  &::-webkit-scrollbar-track {
    background: $trackColor;
  }
}

.darkTheme {
  background-color: $darkThemeMain1;
  color: $darkThemeText;

  .bgColor1 {
    background-color: $darkThemeMain1;
  }

  .bgColor2 {
    background-color: $darkThemeMain2;
  }

  .bgColor3 {
    background-color: $darkThemeMain3;
  }

  .smallIcon {
    filter: invert(1);
  }

  .mediumIcon {
    filter: invert(1);
  }

  .scroll {
    @include scrollbar($darkThemeMain2, $darkThemeMain3);
  }
}

.lightTheme {
  background-color: $lightThemeMain1;
  color: $lightThemeText;

  .bgColor1 {
    background-color: $lightThemeMain1;
  }

  .bgColor2 {
    background-color: $lightThemeMain2;
  }

  .bgColor3 {
    background-color: $lightThemeMain3;
  }

  .scroll {
    @include scrollbar($lightThemeMain3, $lightThemeMain2);
  }
}

@mixin horizontalFlex {
  display: flex;
  align-items: center;
  gap: $paddingSize;
}

body {
  margin: 0;
  font-family: Gabarito;
  font-size: $fontSize;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .topbar {
    padding: $paddingSize;
    display: flex;
    justify-content: space-between;

    .topbarContentWrapper {
      @include horizontalFlex;
    }
  }

  .appContent {
    display: flex;
    height: 100%;
    width: 100vw;

    .leftbar {
      width: $leftBarWidth;
      padding: $paddingSize;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .elemWrapper {
        display: flex;
        flex-direction: column;
        gap: $paddingSize;
      }

      .leftbarElem {
        @include horizontalFlex;
        justify-content: space-between;
        padding: $paddingSize;
        border-radius: $borderRadius;
      }

      .hideButton {
        cursor: pointer;

        img {
          transition: transform $animationSpeed;
        }
      }

      .hideButton:hover {
        img {
          transform: rotate(180deg);
        }
      }

      .optionsButton {
        cursor: pointer;
      }
    }

    .workspaceWrapper {
      width: calc(100% - $leftBarWidth);

      .workspacesBar {
        display: flex;
        gap: $paddingSize;
        padding: $paddingSize;
        overflow-x: scroll;
        white-space: nowrap;

        .workspaceCard {
          display: flex;
          gap: $paddingSize;
          border-radius: $borderRadius;
          padding: $paddingSize;
        }
      }
    }
  }

  .smallIcon {
    height: $iconSizeSmall;
    width: $iconSizeSmall;
  }

  .mediumIcon {
    height: $iconSizeMedium;
    width: $iconSizeMedium;
  }
}